# Node.js
node_modules/

# Logs
logs/
*.log

# Build output
dist/
build/

# Dependency directories
/.pnp/
.pnp.js

# Environment variables
.env
.env.local

# IDE files
.vscode/
.idea/

# Testing
coverage/

# Miscellaneous
.DS_Store
Thumbs.db